:root {
  --main-bg: hsl(220, 50%, 60%);
  --main-fg: hsl(220, 100%, 20%);
  --card-bg: white;
  --card-hl: hsl(40, 100%, 60%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg: hsl(220, 50%, 20%);
    --main-fg: hsl(220, 50%, 100%);
    --card-bg: black;
    --card-hl: hsl(40, 100%, 60%);
  }
}

html,body,h1,pre{
  margin: 0;
  padding-top: 0;
}
body{
  font: 12pt sans-serif;
  color: var(--main-fg);
  background-color: var(--main-bg);
}
h1 {
  font-size: 120%;
}

anchor-group{
  display:grid;
  grid-gap: 4px;
  align-items:center;
  justify-items:stretch;
  grid-template-columns:repeat(2,minmax(min-content,auto));
  min-height:100%;
  width:100%;
}
header {
  padding: 0.5em;
  margin-bottom: 0.5em;
  background-color: var(--card-bg);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
  0 2px 9px 1px rgba(0, 0, 0, 0.12),
  0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
a{
  padding:.5em 1em;
  vertical-align:middle;
  text-decoration:none;
  opacity: 0.8;
  color: var(--card-fg);
  background-color: var(--card-bg);
}
a:focus{
  opacity: 1;
}

@media only screen and (min-width: 600px){
  anchor-group{
    grid-template-columns:repeat(3,minmax(min-content,auto));
  }
}

@media only screen and (min-width: 700px){
  anchor-group{
    grid-template-columns:repeat(4,minmax(min-content,auto));
  }
}

@media only screen and (min-width: 800px){
  anchor-group{
    grid-template-columns:repeat(5,minmax(min-content,auto));
  }
}

@media only screen and (min-width: 900px){
  anchor-group{
    grid-template-columns:repeat(6,minmax(min-content,auto));
  }
}

@media only screen and (min-width: 1000px){
  anchor-group{
    grid-template-columns:repeat(7,minmax(min-content,auto));
  }
}

@media only screen and (min-width: 1200px){
  anchor-group{
    grid-gap: 6px;
    grid-template-columns:repeat(8,minmax(min-content,auto));
  }
}
