*
!.gitignore
!.SRCINFO
!PKGBUILD
!Makefile
!docserve.install
!main.css
!keyboard-nav.js
!libalpm
!libalpm/*
!libalpm/hooks/docserve.hook
!libalpm/scripts/docserve_update.sh
!404.html
!50x.html
!nginx
!nginx/nginx-doc.conf
