*
!.gitignore
!PKGBUILD
!README.md
!Makefile
!docserve.gif
!docserve
!docserve/*
!systemd
!systemd/*
!libalpm
!libalpm/*
!libalpm/hooks/docserve.hook
!libalpm/scripts/docserve_update.sh
!nginx
!nginx/docserve.conf
