pkgbase = docserve-git
	pkgdesc = Pacman hook for updating an index.html page with links to /usr/share/doc/**/index.html
	pkgver = r2.c5e4e68
	pkgrel = 1
	arch = x86_64
	license = GPL
	makedepends = git
	depends = pacman
	provides = docserve
	conflicts = docserve
	source = git+file:///home/bart/repos/PKGBUILDS/docserve
	md5sums = SKIP

pkgname = docserve-git

